<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>TormentorOptical</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <!--Our NavBar-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html" id="navbar"><b>TORMENTOR OPTICAL</b></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Charting Musical Taste
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="zoe.html">Zoe's Metrics</a>
                            <a class="dropdown-item" href="kelly.html">Kelly's Metrics</a>
                            <a class="dropdown-item" href="mamta.html">Mamta's Metrics</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="models.html">Models</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="predictive.html">Results</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
    <!--Our Body-->
    <div class="container-background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h1>Testing Machine Learning Models</h1>
                    <hr>
                    <h2>Model #1: Decision Tree</h2>
                    <br>
                    <p>With Pandas, we pulled data from Zoe's, Mamta's and Kelly's Spotify playlists and sorted the
                        outcomes
                        as integers; 0 for Zoe, 1 for Mamta and 2 for Kelly. We ran a tree decision classifier
                        algorithm on the data using SciKitLearn and visualized the classification with Graphviz. The
                        model scored
                        <b>0.6</b> on
                        the test data which suggests that the tree decision classifier was not the best machine learning
                        algorithm as it overfits our data. An advantage of this algorithm is that we can understand the
                        features that reflect best for each user.</p>
                    <br>
                    <a href="decisiontree.html" target="_blank">
                        <img src="{{ url_for('static', filename='images/tree.png') }}" alt="treedecision" id="treedecision" width="900" height="600"
                            class="center" ;></a>
                    <br>
                    <h2>Model #2: OneClass SVM</h2>
                    <br>
                    <p>Similar to the previous model, we used Pandas to pull playlist and song information for Zoe,
                        Kelly, and Mamta. We then used the SciKitLean library to use the OneClassSVM algorithm to create
                        three separate models for Zoe, Kelly, and Mamta. The purpose of this was to see if we tested a
                        different playlist, we should be able to predict if any of the three of us would enjoy listening
                        to it. We did run into an issue where we needed many more songs for each of us to test on
                        because of now it seems to identify all songs outside of those in our dataframes as outliers.
                        This model could potentially be good for mood playlist predicting.
                    </p>
                    <br>
                    <h2>Selected Model:</h2>
                    <br>
                    <p>For the above reasons, we chose to pursue the Tree Decision model in the hopes of predicting
                        Spotify users' musical interest.</p>

                </div>
            </div>
        </div>
        <footer class="container-fluid" id="footer"></footer>

        <!-- Our JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>

</html>